@import "tailwindcss";

@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@keyframes spina {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

@layer base {
  body {
    @apply font-sans bg-gray-200 text-gray-800;
  }
  h1 {
    @apply text-center text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-bold md:hover:bg-gray-100;
  }
  h3 {
    @apply text-2xl font-semibold;
  }
}

@layer components {
  .a-base {
    @apply w-11/12 max-w-4xl mx-auto my-10 p-5 bg-white rounded-lg;
  }
  .s-base {
    @apply p-5 mb-10 bg-white rounded-lg shadow-md;
  }
  .p-base {
    @apply mb-4 text-justify;
    
  }
  .f-base {
    @apply bg-red-600 text-white p-2 mt-5 text-center;
  }

  .nice-table {
    @apply table-auto my-5 mx-auto w-10/12;
  }
  .nice-table th,
  .nice-table td {
    @apply p-2 border border-gray-300 text-center align-middle;
  }
  .nice-table th {
    @apply bg-gray-300;
  }

  /* Instead of media queries, we can use the responsive classes from Tailwind */
  .map-section {
    @apply p-5 bg-white rounded-lg shadow-md hidden md:block;
  }
  #over-map {
    @apply hidden md:block;
  }

  .ranking-list {
    @apply list-none p-0;
    counter-reset: ranking-counter;
  }
  .ranking-item {
    @apply mb-5 p-4 bg-gray-100 border-l-4 border-red-600 rounded-lg transition-transform duration-300 ease-in-out hover:translate-y-[-5px] relative pl-10;
    counter-increment: ranking-counter;
  }
  .ranking-item::before {
    @apply font-bold text-red-600 text-2xl;
    content: counter(ranking-counter, upper-roman) ".";
  }
  .ranking-img {
    @apply border-4 border-red-600 rounded-lg max-w-full h-auto transition-transform duration-300 ease-in-out hover:scale-103;
  }
  .ranking-details {
    @apply p-5 bg-gray-100 border border-gray-800 rounded-lg mt-5 text-base text-gray-800 transition-colors duration-300 ease-in-out hover:bg-white;
  }
  .h-ranking {
    @apply text-red-600 border-b-2 border-red-600 pb-1 mb-3 text-xl;
  }

  #myForm {
    @apply w-11/12 max-w-4xl mx-auto p-5 bg-gray-100 rounded-lg shadow-md;
  }

  .video-box iframe {
    @apply relative rounded-lg w-full aspect-[560/315] border-none z-10;
  }

  /* Some magic CSS for the border animation: */
  .video-box::after,
  .video-box::before {
    content: "";
    position: absolute;
    height: calc(100% + 1rem);
    width: calc(100% + 1rem);
    background-image: conic-gradient(from var(--angle), transparent 70%, #ff2e2e);
    top: 50%;
    left: 50%;
    padding: 10px;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 8px;
    animation: spina 5s linear infinite;
  }
  .video-box::before {
    filter: blur(1.5rem);
    opacity: 0.7;
  }
  .video-box:hover::after,
  .video-box:hover::before {
    animation-play-state: paused;
  }
}